* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: blanchedalmond;
}

.page-container {
  width: 900px;
  margin: 10px auto;
  background-color: lightgrey;
  padding: 28px;
}

.product-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row
}

.cart-container {
  display: flex;
  flex-direction: column;
}

#checkout-button {
  width: 14%;
}

.product-incart {
  padding: 10px 8px;
  
}

.product-items {
  padding: 10px 30px;
  width: 200px;
}